.root {
    display: flex;
    width: 100px;
    align-items: center;
    flex-direction: row-reverse;
}
.amount {
    min-width: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #fb8349;
    text-align: center;
    &.amountDark {
        color: white;
    }
}

.counter {
    display: flex;
    width: 73%;
    justify-content: space-between;
    align-items: center;
}
