.buttonAccent {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  padding-bottom: 0.3125rem;
  border-bottom: white solid;
  &:hover {
    color: #fa6400;
    border-bottom: #fa6400 solid;
    transition: all 0.3s ease-out;
  }
  &.dark {
    border-bottom: rgb(0, 0, 0) solid;
    &:hover {
      color: #fa6400;
      border-bottom: #fa6400 solid;
      transition: all 0.3s ease-out;
    }
  }
  &.active {
    color: #fa6400;
    border-bottom: #fa6400 solid;
  }
}

/* CSS */
.buttonBase {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25rem;
  margin: 0;
  max-height: 0.625rem;
  padding: 0.625rem 0.75rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 20px;
  &:hover {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  &:hover {
    transform: translateY(-1px);
  }
  &:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
  }
  &:disabled {
    color: #0000003e;
    background-color: rgba(51, 51, 51, 0.05);
    &:hover {
      background-color: rgba(189, 23, 23, 0.05);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }
    &:hover {
      transform: translateY(0);
    }
    &:active {
      background-color: rgba(51, 51, 51, 0.05);
      box-shadow: rgba(251, 250, 250, 0.06) 0 2px 4px;
      transform: translateY(0);
    }
  }
  &.dark {
    &:disabled {
      color: #00000073;
      background-color: #ffffff59;
      &:hover {
        background-color: #ffffff59;
        box-shadow: #0000001a 0 4px 12px;
      }
      &:hover {
        transform: translateY(0);
      }
      &:active {
        background-color: #ffffff59;
        box-shadow: #fbfafa0f 0 2px 4px;
        transform: translateY(0);
      }
    }
  }
}

.m {
  font-size: inherit;
}
.l {
  width: 50%;
}
