.root {
  width: 100%;
}
.list {
  width: 100%;
  margin: 20px 0px;
}

.subtitle {
  color: #888888;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0px;
  &.subtitleDark {
    color: white;
  }
}
