$color: #fa6400;

.root {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 20px;
  background-color: white;
  color: #1c1a19;
  height: 4.1875rem;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.338);
}
.text {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  margin: 0rem 0.9375rem;
  padding-bottom: 0.3125rem;
  border-bottom: white solid;
  transition: all 0.3s ease-out;

  &:hover {
    color: $color;
    border-bottom: $color solid;
  }
}
.active {
  color: $color;
  border-bottom: $color solid;
}
